<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <context-param>
        <param-name>resourceBundle.path</param-name>
        <param-value>i18n.messages</param-value>
    </context-param>
    <context-param>
        <param-name>javax.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>
        <param-value>true</param-value>
    </context-param>
    
    <security-constraint>
        <display-name>PagesAccountLoggedIn</display-name>
        <web-resource-collection>
            <web-resource-name>PagesAccountLoggedIn</web-resource-name>
            <description/>
            <url-pattern>/faces/account/detailsMyAccount.xhtml</url-pattern>
            <url-pattern>/faces/account/changeMyPassword.xhtml</url-pattern>
            <url-pattern>/faces/account/editMyAccount.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Client</role-name>
            <role-name>Administrator</role-name>
            <role-name>Employee</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>AdministratorPages</display-name>
        <web-resource-collection>
            <web-resource-name>AdministratorPages</web-resource-name>
            <description/>
            <url-pattern>/faces/account/accountList.xhtml</url-pattern>
            <url-pattern>/faces/account/createAdministrator.xhtml</url-pattern>
            <url-pattern>/faces/account/createEmployee.xhtml</url-pattern>
            <url-pattern>/faces/account/changePasswordAccount.xhtml</url-pattern>
            <url-pattern>/faces/account/editAccount.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Administrator</role-name>
        </auth-constraint>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>ClientPages</display-name>
        <web-resource-collection>
            <web-resource-name>ClientPages</web-resource-name>
            <description/>
            <url-pattern>/faces/diet/clientDietList.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/createNewClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/deleteClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/detailsMyClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/clientOrdersListForClient.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Client</role-name>
        </auth-constraint>
    </security-constraint>
    
    <security-constraint>
        <display-name>EmployeePages</display-name>
        <web-resource-collection>
            <web-resource-name>EmployeePages</web-resource-name>
            <description/>
            <url-pattern>/faces/diet/createNewDiet.xhtml</url-pattern>
            <url-pattern>/faces/diet/editDiet.xhtml</url-pattern>
            <url-pattern>/faces/diet/deleteDiet.xhtml</url-pattern>
            <url-pattern>/faces/diet/dietList.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/clientOrdersListForEmployee.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/confirmClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/detailsClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/clientOrder/deleteClientOrder.xhtml</url-pattern>
            <url-pattern>/faces/account/clientsAccountListForEmployee.xhtml</url-pattern>        
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>Employee</role-name>
        </auth-constraint>
    </security-constraint> 
    
    <security-role>
        <description/>
        <role-name>Administrator</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Employee</role-name>
    </security-role>
    <security-role>
        <description/>
        <role-name>Client</role-name>
    </security-role>
    
    <env-entry>
        <env-entry-name>txRetryLimit</env-entry-name>
        <env-entry-type>java.lang.Integer</env-entry-type>
        <env-entry-value>3</env-entry-value>
    </env-entry>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            20
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>faces/index.html</welcome-file>
    </welcome-file-list>
        
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>DietOrderingJDBCRealm</realm-name>
        <form-login-config>
            <form-login-page>/faces/login/formLogin.xhtml</form-login-page>
            <form-error-page>/faces/login/formLoginError.xhtml</form-error-page>
        </form-login-config>
    </login-config>
    <error-page>
        <error-code>403</error-code>
        <location>/faces/error/error403.xhtml</location>   
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/faces/error/error404.xhtml</location>   
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/faces/error/error.xhtml</location>   
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/faces/error/error.xhtml</location>
    </error-page>
    <mime-mapping>
        <extension>woff2</extension>
        <mime-type>application/font-woff2</mime-type>
    </mime-mapping>
</web-app>
